<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventium - OTP</title>
</head>
<body style="padding: 16px;">
    <p style="font-weight: bold; font-size: large;">Your OTP Code</p>
    <p style="margin-top: 2px;">Your one-time password is: </p>
    <div style="background-color: #f3f4f6; padding: 8px; margin-left: 4px; margin-right: 4px;">
        <p style="font-weight: bold;">1254152</p>
    </div>
    <p>Best of Luck</p>
    <p>Team Eventium</p>
</body>
</html>